@import 'allvars';



.griditem{
background-color: transparent;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
display: flex;
align-items: center;
width:100%;
}

.griditem.portfoliogrid--3{
	width: calc(33% - 0.5rem);
	height: 30rem;
}

.griditem.portfoliogrid--4{
	width: calc(25% - 0.5rem);
	height: 25rem;
}